# 1
app.notification.events.TimesheetEmployeeCommentsUpdatedByIdEvent.eventClass=com.syc.dashboard.shared.timesheet.notification.events.TimesheetEmployeeCommentsUpdatedByIdEventNotification
app.notification.events.TimesheetEmployeeCommentsUpdatedByIdEvent.sendToInApp=true
app.notification.events.TimesheetEmployeeCommentsUpdatedByIdEvent.sendToEmail=false
app.notification.events.TimesheetEmployeeCommentsUpdatedByIdEvent.sendToMobilePush=false
app.notification.events.TimesheetEmployeeCommentsUpdatedByIdEvent.sendToAdminInApp=true
app.notification.events.TimesheetEmployeeCommentsUpdatedByIdEvent.sendToAdminEmail=true

# 2
app.notification.events.TimesheetManagerCommentsUpdatedByIdEvent.eventClass=com.syc.dashboard.shared.timesheet.notification.events.TimesheetManagerCommentsUpdatedByIdEventNotification
app.notification.events.TimesheetManagerCommentsUpdatedByIdEvent.sendToInApp=true
app.notification.events.TimesheetManagerCommentsUpdatedByIdEvent.sendToEmail=false
app.notification.events.TimesheetManagerCommentsUpdatedByIdEvent.sendToMobilePush=false
app.notification.events.TimesheetManagerCommentsUpdatedByIdEvent.sendToAdminInApp=true
app.notification.events.TimesheetManagerCommentsUpdatedByIdEvent.sendToAdminEmail=true

# 3
app.notification.events.TimesheetAdminCommentsUpdatedByIdEvent.eventClass=com.syc.dashboard.shared.timesheet.notification.events.TimesheetAdminCommentsUpdatedByIdEventNotification
app.notification.events.TimesheetAdminCommentsUpdatedByIdEvent.sendToInApp=true
app.notification.events.TimesheetAdminCommentsUpdatedByIdEvent.sendToEmail=true
app.notification.events.TimesheetAdminCommentsUpdatedByIdEvent.sendToMobilePush=false
app.notification.events.TimesheetAdminCommentsUpdatedByIdEvent.sendToAdminInApp=true
app.notification.events.TimesheetAdminCommentsUpdatedByIdEvent.sendToAdminEmail=true

# 4
app.notification.events.AdminPasswordForgotEvent.eventClass=com.syc.dashboard.shared.admin.notification.events.AdminPasswordForgotEventNotification
app.notification.events.AdminPasswordForgotEvent.sendToInApp=false
app.notification.events.AdminPasswordForgotEvent.sendToEmail=true
app.notification.events.AdminPasswordForgotEvent.sendToMobilePush=false
app.notification.events.AdminPasswordForgotEvent.sendToAdminInApp=false
app.notification.events.AdminPasswordForgotEvent.sendToAdminEmail=false

# 5
app.notification.events.EmployeePasswordForgotEvent.eventClass=com.syc.dashboard.shared.employee.notification.events.EmployeePasswordForgotEventNotification
app.notification.events.EmployeePasswordForgotEvent.sendToInApp=false
app.notification.events.EmployeePasswordForgotEvent.sendToEmail=true
app.notification.events.EmployeePasswordForgotEvent.sendToMobilePush=false
app.notification.events.EmployeePasswordForgotEvent.sendToAdminInApp=false
app.notification.events.EmployeePasswordForgotEvent.sendToAdminEmail=false

# 6
app.notification.events.ExpenseReportReviewedByAdminEvent.eventClass=com.syc.dashboard.shared.expensereport.notification.events.ExpenseReportReviewedByAdminEventNotification
app.notification.events.ExpenseReportReviewedByAdminEvent.sendToInApp=false
app.notification.events.ExpenseReportReviewedByAdminEvent.sendToEmail=true
app.notification.events.ExpenseReportReviewedByAdminEvent.sendToMobilePush=false
app.notification.events.ExpenseReportReviewedByAdminEvent.sendToAdminInApp=false
app.notification.events.ExpenseReportReviewedByAdminEvent.sendToAdminEmail=true

# 7
app.notification.events.ExpenseReportReviewedBySupervisorEvent.eventClass=com.syc.dashboard.shared.expensereport.notification.events.ExpenseReportReviewedBySupervisorEventNotification
app.notification.events.ExpenseReportReviewedBySupervisorEvent.sendToInApp=false
app.notification.events.ExpenseReportReviewedBySupervisorEvent.sendToEmail=true
app.notification.events.ExpenseReportReviewedBySupervisorEvent.sendToMobilePush=false
app.notification.events.ExpenseReportReviewedBySupervisorEvent.sendToAdminInApp=false
app.notification.events.ExpenseReportReviewedBySupervisorEvent.sendToAdminEmail=true

#8
app.notification.events.ProjectRegisteredEvent.eventClass=com.syc.dashboard.shared.project.notification.events.ProjectRegisteredEventNotification
app.notification.events.ProjectRegisteredEvent.sendToInApp=false
app.notification.events.ProjectRegisteredEvent.sendToEmail=true
app.notification.events.ProjectRegisteredEvent.sendToMobilePush=false
app.notification.events.ProjectRegisteredEvent.sendToAdminInApp=false
app.notification.events.ProjectRegisteredEvent.sendToAdminEmail=true

#9
app.notification.events.JobCodeRegisteredEvent.eventClass=com.syc.dashboard.shared.jobcode.notification.events.JobCodeRegisteredEventNotification
app.notification.events.JobCodeRegisteredEvent.sendToInApp=false
app.notification.events.JobCodeRegisteredEvent.sendToEmail=true
app.notification.events.JobCodeRegisteredEvent.sendToMobilePush=false
app.notification.events.JobCodeRegisteredEvent.sendToAdminInApp=false
app.notification.events.JobCodeRegisteredEvent.sendToAdminEmail=true

#10
app.notification.events.CostCodeAddedEvent.eventClass=com.syc.dashboard.shared.jobcode.notification.events.CostCodeAddedEventNotification
app.notification.events.CostCodeAddedEvent.sendToInApp=false
app.notification.events.CostCodeAddedEvent.sendToEmail=true
app.notification.events.CostCodeAddedEvent.sendToMobilePush=false
app.notification.events.CostCodeAddedEvent.sendToAdminInApp=false
app.notification.events.CostCodeAddedEvent.sendToAdminEmail=true